<div class="jumbotron text-center mdb-color lighten-2 white-text mx-2 mb-5">
    </nav>

    <h1 class="display-4">
        <i class="fas fa-clinic-medical"></i> Coronavirus latest stats
    </h1>
    <p>
        The coronavirus outbreak is an ongoing global outbreak of coronavirus
        disease (COVID-19) first identified in Wuhan, Hubei, China in December
        2019.
    </p>
    {{!-- <hr class="my-4" /> --}}

    <p>
        This page provides the recent info about the COVID-19 spread around the
        world (updated daily from <a href="https://systems.jhu.edu/" style="color:coral">systems.jhu.edu</a>).
    </p>

    <hr class="my-4" />
    <!-- paypal button here -->
    {{!-- {{>home/paypalBtn}} --}}
    {{!-- <p>
        As of today (<span id="todayDate"></span>)
        Historical data has been available
        for <span id="dataDays"></span> days since January 22, 2020. Pick a date
        from the field below and click submit to see the data. --}}
    </p>
    <iframe style="width:100%" ; width="560" height="380" src="https://coronavirus.app/map?embed=true" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- date picker here  -->
    <hr class="my-4">
    <p>
        {{!-- As of today (<span id="todayDate"></span>) --}}
        Historical data has been available
        for <span id="dataDays"></span> days since January 22, 2020. Pick a date
        from the field below and click submit to see the data.
    </p>
    <div class="break-out"><br /></div>

    {{>home/datePicker}}

    <div class="break-out"><br /></div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-danger" data-toggle="collapse" data-target="#redmondBusiness">
                For Redmond Business Owners
            </button>
        </div>
    </div>
    <!-- end of date picker -->
</div>